.timer-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  /* background-color: red; */
  font-family: Mario;
}

.timer-box h2 {
  font-size: vh;
  float: center; 

}

.timer-display { 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.timer-display-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 19%;
  font-size: 10vw;
}


.timer-display-unit h3{
  font-size: 6vw;
}
@font-face {
  font-family: Mario;
  src: url(../../assets/fonts/Mario/SuperMario.ttf) format('truetype');
}

@media (max-width: 320px) {
  .timer-display { 
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .timer-box {
    width: 110%;
    height: 100%;
    flex-direction: column; 
    /* background-color: red; */
    font-family: Mario;
  }
}

@media (min-width: 1025px ) {
  .timer-box h2 {
    font-size: 4vw;
  
  }

  .timer-display-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    font-size: 6vw;
  }
  
  
  .timer-display-unit h3{
    font-size: 3vw;
  }
}